<div ng-controller="BingewaveCtrl" ng-cloak>
	<div ng-if="loaded">
		<div ng-if="showHomeText">
			<label>{{languages.labelHomeText}}</label>
		</div>
	</div>

	<!-- <h3 ng-if="show_chats">Chats</h3>
	<div ng-repeat="m in messages" ng-if="show_chats">
		<h6>{{m.message}} From <b>{{m.account.first_name}}</b></h6>
	</div>
	<form name="chatForm" ng-submit="sendChat()" style="padding: 10px" novalidate>
		<div class="form-group">
			<label>Message</label>
			<input type="text" name="message" class="form-control" ng-model="user.message"
				placeholder="Enter your message here" ng-required="true">
		</div>
		<div class="wrapper">
			<button type="submit" class="btn btn-primary" ng-if="show_chats">Send</button>
		</div>
	</form> -->
	<button type="button" class="btn btn-primary" ng-click="signup()">Goto signup</button>
	<iframe allow="camera; microphone" width="100%" height="600" ng-if="show_stream"
		ng-src="{{trustSrc(stream_url)}}"></iframe>
	<!--<a ng-if="show_stream" href="" copy-to-clipboard="{{stream_url}}" ng-click="copyText()">Copy Link</a>
	<a ng-if="show_stream" href=""  ng-click="muteAll()">Mute All</a>
	<a ng-if="show_stream" href=""  ng-click="unMuteAll()">Unmute All</a>
 <button ng-if="show_stream && !stream_started && !broadcast_started" type="button"
		class="btn btn-primary" ng-click="startStream()">Start Streaming</button>
	<button ng-if="stream_started && !broadcast_started" type="button" class="btn btn-primary"
		ng-click="stopStream()">Stop Streaming</button>
	<button ng-if="show_stream && !stream_started  && !broadcast_started" type="button"
		class="btn btn-primary" ng-click="startBroadcast()">Start Broadcasting</button>
	<button ng-if="!stream_started && broadcast_started" type="button" class="btn btn-primary"
		ng-click="stopBroadcast()">Stop Broadcasting</button> -->
	<button ng-if="!show_stream" type="button" class="btn btn-primary"
		ng-click="createEventTitle()">{{languages.createEventButton}}</button>
		<form  ng-if="showNewEventTitle" name="eventForm" ng-submit="createEvent()" style="padding: 10px" novalidate>
			<div class="form-group">
				<label>Title</label>
				<input type="text" name="title" class="form-control" ng-model="event.event_title"
					placeholder="Enter Your Event Title" ng-required="true">
			</div>
			<div class="form-group">
				<label>Description</label>
				<input type="text" name="description" class="form-control" ng-model="event.event_description"
					placeholder="Enter Your Event Description" ng-required="true">
			</div>
			<div class="wrapper">
				<button type="submit" class="btn btn-primary">Create</button>
			</div>
		</form>
	<!-- <button ng-if="!show_stream" type="button" class="btn btn-primary"
		ng-click="createEvent()">Create</button> -->
</div>
