<div class="slide-right main-thread-section" ng-show="showThread"
	ng-controller="WidgetSignUpCtrl as WidgetSignUp" ng-cloak
	style="height: 100%; overflow-y: auto !important">
	<h3>SignUp</h3>
	<button type="button" class="btn btn-primary" ng-click="bingewave()">Goto Bingewave</button>
	<!-- <iframe allow="camera; microphone" width="500" height="500" ng-if="show_stream"
		ng-src="{{stream_url}}"></iframe>
	<button ng-if="!show_stream" type="button" class="btn btn-primary" ng-if="!isPlaying"
		ng-click="createEvent()">Create Event</button> -->
</div>
